name: Go

on:
  push:
    branches: [ beta ]
  pull_request:
    branches: [ beta ]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64, 386]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Get Go environment
        id: go-env
        run: |
          echo "::set-output name=cache::$(go env GOCACHE)"
          echo "::set-output name=modcache::$(go env GOMODCACHE)"
          echo "::set-output name=lintcache::$HOME/.cache/golangci-lint"
      - name: Set up cache
        uses: actions/cache@v3
        with:
          path: |
            ${{ steps.go-env.outputs.cache }}
            ${{ steps.go-env.outputs.modcache }}
            ${{ steps.go-env.outputs.lintcache }}
          key: lint-${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}-${{ hashFiles('**/go.mod') }}-${{ hashFiles('generic/*.go') }}
          restore-keys: |
            lint-${{ runner.os }}-go-
      - name: Lint
        env:
          GOARCH: ${{ matrix.arch }}
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          args: --timeout 30m


  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
